.board {
  border-radius: 5px;
  width: 240px;
  height: fit-content;
  padding: 10px;
}

.status {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.status-title {
  display: flex;
  align-items: center;
  padding-left: 3px;
  padding-right: 9px;
  border-radius: 10px;
  width: fit-content;
}

.status-icon {
  font-size: 24px;
}

.board .edit-icon {
  margin-left: auto;
  cursor: pointer;
}

.board .edit-icon:hover {
  color: var(--primary-color);
}

.board .edit-board-title-input {
  outline: none;
  width: 80px;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
}

.board .check-icon {
  cursor: pointer;
  margin-left: auto;
  font-size: 24px;
}

.board .check-icon:hover {
  color: var(--primary-color);
}

.board .add-card {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  cursor: pointer;
}

.board .add-card:hover {
  background-color: rgb(216, 216, 216);
}

.board .addCard-input {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  font-family: Noto Sans TC;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--text-color);
  padding: 6px;
  margin-top: 10px;
}

.board-area .board-0 {
  background: rgba(255, 253, 189, 0.7);
}

.board-0 .status-title {
  background: rgb(255 234 191);
}

.board-0 .status-icon {
  color: rgb(210, 208, 96);
}

.board-area .board-1 {
  background: rgba(194, 244, 251, 0.7);
}

.board-1 .status-title {
  background: rgb(211, 229, 239);
}

.board-1 .status-icon {
  color: rgb(91, 151, 189);
}

.board-area .board-2 {
  background: rgba(216, 254, 207, 0.7);
}

.board-2 .status-title {
  background: rgb(219, 237, 219);
}

.board-2 .status-icon {
  color: rgb(108, 155, 125);
}

.board-area .board-3 {
  background: #ffdcdcec;
}

.board-3 .status-title {
  background: rgb(255 241 241);
}

.board-3 .status-icon {
  color: #ffbcbc;
}

.board .closeEye {
  margin-left: 5px;
  cursor: pointer;
}

.board .closeEye:hover {
  color: var(--primary-color);
}

.board-area .title-tag {
  margin: 10px 0;
  display: flex;
  font-size: 16px;
  background: rgba(255, 255, 255, 0);
}

.tag {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.open-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

.open-area:hover {
  color: var(--primary-color);
}

@media (max-width: 750px) {
  .board {
    width: 300px;
  }

  .board-area .title-tag {
    justify-content: center;
  }

  .open-area {
    margin-left: 15px;
  }
}
