.project {
  display: flex;
}

.project-board {
  width: 100%;
  min-height: 700px;
  background-image: url("../../images/project-background.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.project-board .error-message {
  margin: 80px auto 0 auto;
}

.project-board .content {
  width: 1200px;
  margin: 40px 0px;
}

.project-board .project-title-input {
  font-size: 20px;
  font-weight: 600;
  outline: none;
  width: 100%;
  border: 0;
  border-radius: 3px;
  height: 30px;
  background: rgba(255, 255, 255, 0);
}

.project-board .project-title {
  width: 100%;
  height: 30px;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.project-board .line {
  margin: 15px 0;
}

.project-title .edit-icon {
  margin-left: 10px;
  cursor: pointer;
}

.project-title .edit-icon:hover {
  color: var(--primary-color);
}

.project-board .board-area {
  display: flex;
  gap: 20px;
}

.project-board .newBoard {
  cursor: pointer;
  font-size: 28px;
  margin-top: 8px;
  border-radius: 5px;
  color: rgba(25, 23, 17, 0.6);
}

.project-board .newBoard:hover {
  background: var(--primary-color);
  color: white;
}

.project-board .hide-title {
  font-size: 16px;
  color: rgba(25, 23, 17, 0.6);
  border-bottom: 1px solid rgb(121 119 111 / 60%);
}
