.member-form {
  max-width: 450px;
  margin: 80px auto;
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #fff;
  border-radius: 5px;
}

.member-form h2 {
  text-align: center;
}

.member-form label {
  display: block;
  margin: 20px auto;
}

.member-form span {
  display: block;
}

.member-form input {
  margin-top: 5px;
  width: 100%;
  padding: 8px 6px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 18px;
}

.member-form .btn {
  cursor: pointer;
  font-size: 22px;
  background: var(--primary-color);
  border-radius: 3px;
  color: white;
  border-style: none;
  width: 100%;
  padding: 10px 6px;
  margin-top: 5px;
  font-weight: bold;
}

.member-form .btn:hover {
  background: #fff0ac;
  color: var(--heading-color);
}

.member-form .message {
  margin-top: 12px;
  text-align: center;
}

.member-form a {
  text-decoration: underline;
  color: black;
}

.loading {
  animation: loading 3s linear infinite;
}

.error {
  display: flex;
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

.error-icon {
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 20px;
  height: 24px;
  width: 24px;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
